*{
    background-image: url(stopbg.png);
    background-size: 100%; 
}
.stopwatch{
    width: 100%;
    /* max-width: 800px; */
    background: none;
    /* background-size: cover; */
    text-align: center;
    padding: 150px 0;
    /* color: #fff; */
    /* margin: 200px auto 0; */
    /* box-shadow: 0 10px; */

}
.button{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;

}
.stopwatch h1{
    background: none;
    font-family:'Courier New', Courier, monospace;
    margin-top: 60px;
    font-size: 65px;
    font-weight: 300;
    
}
.button img{
    
        background: none;
        height: 120px;
}